.label {
    -fx-text-fill: rgb(108,108,108);
}

//toolbar
#bg {
    -fx-background-color: rgb(63,81,181);
}
#dockedleft_bg {
     -fx-background-color: white;
}
#title{
    -fx-font-size:18;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

//ContentPane
#contentpane_bg {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: rgb(235,235,235)
}


//clickableitem
#clickableitem_selected_bg {
    -fx-background-color: lightgrey;
}
#clickableitem_bg {
    -fx-background-color: white;
}
//navigation package
#navigation_bg {
    -fx-background-color: white;
}

//purchase package
.table-row-cell:selected {
   -fx-background-color: rgb(63,81,181);
   -fx-text-background-color: white;
}
.table-view .table-cell{
    /* -fx-font-weight:bold; */
    -fx-font-size:14px;           //the font size you asked in the comments below
    /* -fx-text-fill:orange; */
}
#my-table .table-column {
  -fx-alignment: CENTER;
}

.tree-view .tree-cell{
    -fx-font-size:14px;
}
.tree-cell:selected {
   -fx-background-color: rgb(63,81,181);
   -fx-text-background-color: white;
}

//menuItem
.menu-item .label{
    //-fx-text-fill: rgb(63,81,181);
    -fx-font-size:14px;
    //-fx-text-background-color: white;
}

// ComboBox
.combo-box .list-view   {
   -fx-background-color: lightgrey;
    -fx-text-background-color: black;
}
.list-view :selected {
   -fx-background-color: rgb(63,81,181);
   -fx-text-background-color: white;
}

//progressbar
.progress-bar .bar {
    //-fx-background-color: rgb(63,81,181);
    -fx-padding: 1px;
    -fx-background-insets: 0;
}
// ListView
.list-cell{
    //-fx-text-fill: #292e34;
    //-fx-font-family: Arial;
    //-fx-pref-height: 30px;
    -fx-font-size:14px;
}
//TabPane
.tab-label {
     -fx-font-size:14px;
}